// @import "~/node_modules/bulma/sass/utilities/initial-variables.sass";
@import "~/node_modules/bulma/sass/utilities/derived-variables.sass";


html, body {
    background-color: $primary;
    color: findLightColor($primary);
    // font-family: 'Josefin Sans', sans-serif;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Syne', sans-serif;

     main {
        height: 100vh;
     }
}
