// @import "~/node_modules/bulma/sass/utilities/initial-variables.sass";
@import "~/node_modules/bulma/sass/utilities/derived-variables.sass";


html, body {
    background-color: findLightColor($primary);;

    h1, .title {
      font-family: 'Pixelify Sans';
    }

    h2, h3 {
       font-family: 'Inter', sans-serif;
    }

     main {
      // height of navbar
      margin-block-start: 86px;
   }
}
